* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

.containerCalculator {
    padding: 200px 50px 50px 50px;
    width: 500px;
    height: 650px;
}

.containerScreen {
    border: 1px solid black;
    height: 100px;
    width: 350px;  
    padding: 10px;
    font-size: 20px;
}

div button {
    height: 70px;
    width: 70px;
    font-size: 20px;

}

.containerNumbers {
    display: flex;
    flex-wrap: wrap;
}

.containerOperators {
    display: flex;
}

