* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: blanchedalmond;
}

.title {
    text-align: center;
    text-decoration: underline;
    margin: 200px auto 20px auto; 
    font-size: 40px;
}

.containerCalculator {
    padding: 10px;
    width: 422px;         
    height: 521px;       
    margin: 20px auto;   
    border: 1px solid darkblue;
    background-color: darkgreen;
} 

.containerScreen{
    background-color: darkcyan;
    border: 1px solid black;
    height: 100px;
    width: 400px;     
    padding: 10px;  
    font-size: 40px;  
}

.containerNumbers {
    width: 400px;   
    display: flex;
    flex-wrap: wrap; 
}


div button { 
    height: 80px;
    width: 80px; 
    font-size: 40px;  
    background-color: red;
}


.equal {
    width: 400px;
}

.containerInputControl {
    display: flex;
    width: 400px;  
}

.clearAll {  
    width: 200px;
}

.clearOne {
    width: 200px; 
}