*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

.containerCalculator {
    padding: 200px 50px 50px 50px;
    width: 500px;
    height: 650px;
}

div button {
    height: 70px;
    width: 70px;
    font-size: 20px;

}

div input {
    height: 80px;
    width: 370px;
}