* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

body {
    
}

.containerCalculator {
    padding: 50px;
    width: 450px;  
    height: 650px;
    margin: 50px;
} 

.containerScreen {
    background-color: darkcyan;

}

.screen{
    border: 1px solid black;
    height: 100px;
    width: 350px;  
    padding: 10px; 
    font-size: 40px;  
}

div button { 
    height: 70px;
    width: 70px;
    font-size: 20px;
    background-color: red;
}

.containerNumbers {
    display: flex;
    flex-wrap: wrap; 
}


.equal {
    width: 350px;
}

.containerInputControl {
    display: flex;
}

.clearAll {
    width: 175px;
}

.clearOne {
    width: 175px;
}